---
import Navbar from '../components/Navbar.astro';
import Landing from '../components/Landing.astro';
import About from '../components/About.astro';
import Projects from '../components/Projects.astro';
import Curriculum from '../components/Curriculum.astro';
import Habilidades from '../components/Habilidades.astro';
import Educacion from '../components/Educacion.astro';
import Contacto from '../components/Contacto.astro';
import Footer from '../components/Footer.astro';

import Layout from '../layouts/Layout.astro';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout title="Portafolio - Christian Lara">
	<main>
		<Navbar />
		<main
		class="mt-16 scroll-mt-36"
		id="home"
	 >
		<Landing />
      <Projects />
      <About />
      <Curriculum />
      <Habilidades />
      <Educacion />
      <Contacto />
      <Footer />
	</main>
<style>
	body {
		background-color: rgb(0, 0, 0);
	}
</style>
</Layout>
